.DS_Store
*.pyc
*.egg-info
*.swp
tags
lms_extension/docs/current
lms_extension/public/dist
__pycache__/
*.py[cod]
*$py.class
node_modules
package-lock.json
lms_extension/public/frontend
lms_extension/www/lms.html
lms_extension/www/_lms.html
frappe-ui
frappe-semgrep-rules
